name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Pages
        # use newer configure-pages to pick up latest dependencies
        uses: actions/configure-pages@v4

      - name: Upload artifact
        # use upload-pages-artifact v2 to avoid older transitive dependency on upload-artifact@v3
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
